@mixin absolute-el($top, $right, $bottom, $left, $x, $y) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x, $y);
}

@mixin center-el($width) {
  width: $width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}