.menu {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a img {
  height: 5rem;
}

.menu nav a {
  text-decoration: none;
  color: $color-blue;
  font-weight: 600;
  font-size: 2rem;
  margin: 0 3rem;

  &:last-child {
    margin-right: 0;
  }
}

.menu nav a:hover {
  color: $color-green;
  transition: color 0.5s ease-in-out;
}