.location {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.locations h4 {
  font-size: 1.3rem;
  color: #e4e4e4;
  text-align: center;
}

.locations p {
  font-size: 1.4rem;
  color: white;
  text-align: center ;
}